*{
    font-family: 'Raleway', sans-serif;
    
}

 

 
 .inicio{
    
    background-color: #666 ;
    border: solid 1px #000;

 }


 .fundo{
    
    height: 150vh;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    /* border: solid 1px #000; */
    background-image:url("../IMG/img_equipe.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
       

 }




 .meu_form {
    width: 100vh;
    height: 120vh;
    margin:  auto;
    border:  solid 1px #181327;
    background-color: #000000c4;
    backdrop-filter: blur(12px); 
   -webkit-backdrop-filter: blur(12px); 
 }

 /* .botao_dois {
    padding: 20px 30px;
    background-color:#FA503F ;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    border: 1px;
}
.botao:hover, .botao_dois {
    background-color:#f83321 ;
    color: #fff;
}



 */


